<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <display-name>tienda</display-name>

 <listener>
  <listener-class>es.cea.tienda.AplicacionListener</listener-class>
 </listener>
 <servlet>
  <display-name>catalogo</display-name>
  <servlet-name>catalogo</servlet-name>
  <servlet-class>es.cea.tienda.CatalogoServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>detalle</display-name>
  <servlet-name>detalle</servlet-name>
  <servlet-class>es.cea.tienda.DetalleServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>registro</display-name>
  <servlet-name>registro</servlet-name>
  <servlet-class>es.cea.tienda.RegistroServlet</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>
 	prueba</display-name>
 	<servlet-name>prueba</servlet-name>
 	<servlet-class>
 	es.cea.tienda.Prueba</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>
 	nuevoproducto</display-name>
 	<servlet-name>nuevoproducto</servlet-name>
 	<servlet-class>
 	es.cea.tienda.AgregarProductoServlet</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>
 	cerrar</display-name>
 	<servlet-name>cerrar</servlet-name>
 	<servlet-class>
 	es.cea.tienda.CerrarSesionServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>catalogo</servlet-name>
  <url-pattern>/catalogo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>detalle</servlet-name>
  <url-pattern>/detalle</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>registro</servlet-name>
  <url-pattern>/registro</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>prueba</servlet-name>
 	<url-pattern>/prueba</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>nuevoproducto</servlet-name>
 	<url-pattern>/nuevoproducto</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>cerrar</servlet-name>
 	<url-pattern>/cerrar</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>default.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
