<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tienda</display-name>
  <listener>
    <listener-class>es.cea.tienda.AplicacionListener</listener-class>
  </listener>
  <servlet>
    <display-name>catalogo</display-name>
    <servlet-name>catalogo</servlet-name>
    <servlet-class>es.cea.tienda.CatalogoServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>carrito</display-name>
    <servlet-name>carrito</servlet-name>
    <servlet-class>es.cea.tienda.CarritoServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>detalle</display-name>
    <servlet-name>detalle</servlet-name>
    <servlet-class>es.cea.tienda.DetalleServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>registro</display-name>
    <servlet-name>registro</servlet-name>
    <servlet-class>es.cea.tienda.Registro</servlet-class>
  </servlet>
  <servlet>
    <display-name>cerrar</display-name>
    <servlet-name>cerrar</servlet-name>
    <servlet-class>es.cea.tienda.Cerrar</servlet-class>
  </servlet>
  <servlet>
    <display-name>error</display-name>
    <servlet-name>error</servlet-name>
    <servlet-class>es.cea.tienda.ErrorServlet</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>es.cea.tienda.DeleteServlet</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>modificar</display-name>
    <servlet-name>modificar</servlet-name>
    <servlet-class>es.cea.tienda.ModificarServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>catalogo</servlet-name>
    <url-pattern>/catalogo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>detalle</servlet-name>
    <url-pattern>/detalle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registro</servlet-name>
    <url-pattern>/registro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cerrar</servlet-name>
    <url-pattern>/cerrar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>carrito</servlet-name>
    <url-pattern>/carrito</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>modificar</servlet-name>
    <url-pattern>/modificar</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>es.cea.tienda.ProductoNoExisteException</exception-type>
    <location>/error</location>
  </error-page>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <listener>
    <listener-class>es.cea.tienda.UsuarioTiendaListener</listener-class>
  </listener>
  <filter>
    <display-name>CarritoFiltro</display-name>
    <filter-name>CarritoFiltro</filter-name>
    <filter-class>es.cea.tienda.CarritoFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CarritoFiltro</filter-name>
    <servlet-name>detalle</servlet-name>
  </filter-mapping>




</web-app>