/********************************************
   AUTHORS: Erwin Aligam / doTemplate
  *******************************************/

* { margin: 0; padding: 0; outline: 0; }

body {
	background-color:#EFF3FF;
	margin:0;
	padding:0;
	text-align:center;
	color:#333333;
	font-family:Trebuchet MS, Arial, Tahoma, sans-serif;
    font-size:9pt;
}
#wrapper {
	width:820px;
    background:#EFF3FF url(../img/bg.jpg?z=74963) repeat-y center top;
    margin:0 auto;
    text-align:left;
}

#content-wrapper {
	width: 780px;
	margin: 0px auto;
	padding: 0;
}

#header {
	position: relative;
    height:151px;
	background: #caced1 url(../img/header2.jpg?z=74963) no-repeat center top;
	padding: 0;	
	color: #9900CC;
	margin-left:auto;
    margin-right:auto;
	width:820px;
}


 #nav1 {
	clear: both;	
	margin: 0 auto; 
	padding: 0;
	background: #9900CC url(../img/menu2.jpg?z=74963) repeat-x;
	font: bold 16px/40px "Trebuchet MS", Arial, Tahoma, Sans-serif;
	height: 40px;
	width: 780px;
	border-top :1px solid #FFFFFF ;
	border-bottom : 1px solid #FFFFFF ;	
}

#nav1 ul {
	float: left;
	list-style: none;
	margin:0; 
	padding: 0 ;
}

#nav1 ul li {
	display: inline;
}

#nav1 ul li a {
	display: block;
	float: left;
	padding: 0 14px;
	color: #FFFFFF;
	text-decoration: none;
	text-align:center;
	border-right: 1px solid #ff841e ;
}

#nav1 ul li a:hover {
	background: #CC99FF url(../img/selectedMenu2.jpg?z=74963 ) repeat-x;
	color: #202020;	
}

#main {
	float: left;
	
	padding: 20px 0 20px 0;
	margin: 0px 20px 0px 20px ; 
	display: inline;
	background: url(../img/box.jpg) no-repeat;
}


#main p, #main h2, #main ol, #main ul, #main form {
	margin:10px 0pt 0pt 0pt ;
}

#main p, #sidebar p {
	text-align:justify;
}

h2 {
	font-family:Trebuchet MS;
	font-size:16pt;	
	color:#909090;
	letter-spacing:2px;
}

#main img {
	border:1px solid #CCC;
	padding:5px ;
}

a, a:visited {
	color:#FD7719;
	text-decoration:none;
}

a:hover {
	color:#909090;
	text-decoration:underline;
}


#footer {
	color: #FFFFFF;
	background: #EFF3FF url(../img/footer.jpg?z=74963) no-repeat center top;
	clear: both;
	width:820px;
	height: 80px;
	text-align: center;	
	font-size: 8pt;	
}

#footer p { 
	padding: 10px 0;
	margin: 0;
}

#footer a {
	color: #FFFFFF;
	text-decoration: none; 
}


.clear { clear: both; }


a, a:visited {
	text-decoration: none;
	background: inherit;
	color: #FD7719; 
}

a:hover {
	text-decoration: underline;
	background: inherit;
	color: #909090;
}

img {
	padding:0;
	margin:20px 10px 10px 10px;
	border:0px solid #DFDFDF;
}


/* extended styles */

.layout {
	margin:0;
}

		
.bloc-txt, .bloc-txt-txt, .bloc-img-txt, .bloc-txt-img, .bloc-img {
	margin:0;
	padding:0 5px 0 5px;
	clear:both;
}


.bloc-txt-txt .richtext, .bloc-img-txt .richtext, .bloc-img-txt .image,
.bloc-txt-img .richtext, .bloc-txt-img .image  {
	margin:0 ;
	width:48%;
	float:left;
}


.bloc-sep {
	width:20px;
	margin:0;
	padding:0;
	float:left;
}
